.footer {
    background-color: #f5f5f5;
    position: relative;
    margin-top: -80px;
    height: 80px;
    clear: both;
    padding-top: 20px;
}

.wrap {
    min-height: 100%;
}

.main {
    overflow: auto;
    padding-bottom: 100px;
}

label.required:after {
    color: red;
    content: " *";
}